<app-header-home></app-header-home>
<div class="container">
    <div class="progress">
        <span *ngFor="let item of counts;let i = index">
            <span class="circle-desc" [class.circle-desc-active]="orderStatus == item">{{ item }}</span>
            <span class="circles" [class.active]="orderStatus == item"></span>
            <span class="bar" *ngIf="(i != counts.length-1)"></span>
        </span>
    </div>

    <mat-card *ngFor="let group of track; let i = index">
        <div>
            <div class="data-view-container">
                <b><span class="title-data">Customer Detail:</span></b>
                <div class="data-view-content">
                    <table class="data-detail-section">
                        <tr>
                            <td width="130px" valign="top" class="textt">Nama</td>
                            <td width="10px" valign="top">:</td>
                            <td style="font-weight:bold">{{group.name}}</td>
                        </tr>
                        <tr>
                            <td width="130px" valign="top" class="textt">Email</td>
                            <td width="10px">:</td>
                            <td style="font-weight:bold">{{group.email}}</td>
                        </tr>
                        <tr>
                            <td width="130px" valign="top" class="textt">Contact Number</td>
                            <td width="10px">:</td>
                            <td style="font-weight:bold">{{group.contactNumber}}</td>
                        </tr>
                        <tr>
                            <td width="130px" valign="top" class="textt">Payment Method</td>
                            <td width="10px">:</td>
                            <td style="font-weight:bold">{{group.paymentMethod}}</td>
                        </tr>
                        <tr>
                            <td width="130px" valign="top" class="textt">Address</td>
                            <td width="10px" valign="top">:</td>
                            <td style="font-weight:bold">{{group.address}}</td>
                        </tr>
                        <tr>
                            <td width="130px" valign="top" class="textt">Shipping Option</td>
                            <td width="10px">:</td>
                            <td style="font-weight:bold">{{group.shipping_option}}</td>
                        </tr>
                    </table>
                </div>
            </div>
    
            <div class="product-view-container">
                <b><span class="title-product">Product:</span></b>
                <ng-container *ngFor="let item of group.items">
                    <div class="product-view-content">
                        <div class="img-section">
                            <img width="70px" height="70px" src="{{item.itemImage}}" alt="" />
                        </div>
                        <div class="product-detail-section">
                            <p class="product-name">{{item.productName}} | {{item.itemSize}}</p>
                            <p class="product-price">{{item.itemPrice | currency:"IDR ":"symbol"}} x
                                {{item.quantity}}</p>
                            <p class="product-description">{{item.total | currency:"IDR ":"symbol"}}</p>
                        </div>
                    </div>
                </ng-container>
            </div>

        </div>
        <div class="history">
            <b><span class="title-tracking">Tracking Order:</span></b>
        <div>
                <div class="content-history" *ngFor="let history of group.hist">   
                        <div class="timeline-wrapper"> 
                         <ul class="StepProgress">
                                <li class="StepProgress-item is-done">
                                    <div class="bold time">{{history.createDate | date:'mediumDate'}}</div> 
                                    <div class="bold">{{history.keterangan}}</div>
                                    <div class="bold">{{history.createDate | date:'shortTime'}}</div>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
        <!-- //<div class="garis_verikal"></div> -->
        
        

    </mat-card>
</div>