
<html>
    <div class="wrapper sticky">
    <nav class="navbar-fixed-top">
        <a href="#" class="logo">
            <mat-icon>store</mat-icon> Beauty Shop
        </a>
        <ul>
            <li><a (click)="cartAction()">
                    <mat-icon matBadge="{{totalItem}}" matBadgeColor="warn">shopping_basket</mat-icon>
                </a></li>
            <li><a (click)="loginAction()">Login</a></li>
            <li><a (click)="signupAction()">Signup</a></li>
            <li><a (click)="forgotPasswordAction()">Forgot Password?</a></li>
        </ul>
    </nav>
</div>
<body>

    <div class="container">
        <span *ngFor="let item of counts;let i = index">
            <span class="circle-desc" [class.circle-desc-active]="orderStatus == item">{{ item }}</span>
            <span class="circles" [class.active]="orderStatus == item"></span>
            <span class="bar" *ngIf="(i != counts.length-1)"></span>
        </span>
    </div>

</body>

</html>