<div class="container">
    <div class="form-login">
        <mat-toolbar color="primary">
            <mat-toolbar-row fxLayout="row">
                <span class="title-center">Forgot Password</span>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-dialog-content>
            <div class="content">
                <form [formGroup]="forgotPasswordForm" class="form-group">
                    <div fxFlex fxLayout="column">
                        <mat-form-field appearance="fill" fxFlex>
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" required>
                            <mat-error *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid">
                                <span *ngIf="forgotPasswordForm.controls.email.errors.required">This field is mandatory.</span>
                                <span *ngIf="forgotPasswordForm.controls.email.errors.pattern">This field is invalid.</span> 
                            </mat-error>
                        </mat-form-field>
                        <p><button mat-raised-button class="btn" color="primary" type="submit" (click)="handleSubmit()"
                            [disabled]="!(forgotPasswordForm.valid && forgotPasswordForm.dirty)">Send Password</button></p>
                            <a [routerLink]="['/administrator']" class="login"><b>Login</b></a>
                        </div>
                </form>
            </div>
        </mat-dialog-content>
    </div>
</div>
