.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8FF;
    //background-image: url("../../assets/img/img11.jpg");
    //background-color:linear-gradient(to bottom right, #EF4765, #FF9A5A);
    height: 100%; 
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
}

.rounded-circle {
    border-radius: 50% !important;
    border: 4px solid gray
  }

.image-section{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 150px;
        height: 150px;
    }}

.detail-section{
    margin-top: 50px; 
    font-size: 15px;   
}

.float{
    float: right !important;  
}

.name{
    font-size: 18px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

mat-card{
    width: 40%;
    border-radius: 15px;
    padding: 40px;
    display: grid;
}