<div class="Edit">
    <mat-toolbar color="primary">
        <mat-toolbar-row fxLayout="row">
            <span class="title-center">{{dialogData.action}} Orders</span>
        </mat-toolbar-row>
    </mat-toolbar>
    
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="ordersForm">
            <div fxFlex fxLayout="column">
                <div fxLayout="row-wrap">
                    <mat-form-field appearance="fill" fxFlex>
                        <mat-label>Status</mat-label>
                        <mat-select matInput formControlName="status" required>
                            <mat-option value="To Ship">To Ship</mat-option>
                            <mat-option value="To Receive">To Receive</mat-option>
                            <mat-option value="To Completed">To Completed</mat-option>
                        </mat-select>
                        <mat-error *ngIf="ordersForm.controls.status.touched && ordersForm.controls.status.invalid">
                            <span *ngIf="ordersForm.controls.status.errors.required">This Field is mandatory.</span>
                            <span *ngIf="ordersForm.controls.status.errors.pattern">This Field is invalid.</span>
                        </mat-error>
                    </mat-form-field>
                </div>
    
    <mat-dialog-actions align="center">
        <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
            [disabled]="!(ordersForm.valid && ordersForm.dirty)">{{action}}</button>
        <button mat-raised-button color="primary" mat-dialog-close>Close</button>
    </mat-dialog-actions>
</div>
