<div class="container">
  <div class="form-login">
    <mat-toolbar color="primary">
      <mat-toolbar-row fxLayout="row">
        <span class="title-center">Create New Password</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-dialog-content>
      <div class="content">
        <form [formGroup]="resetPassForm" class="form-group">
          <div fxFlex fxLayout="column">
            <mat-form-field appearance="fill" fxFlex>
              <mat-label>Token</mat-label>
              <input matInput formControlName="reset_token" required />
              <mat-error
                *ngIf="
                  resetPassForm.controls.reset_token.touched &&
                  resetPassForm.controls.reset_token.invalid
                "
              >
                <span *ngIf="resetPassForm.controls.reset_token.errors.required"
                  >This field is mandatory</span
                >
                <span *ngIf="resetPassForm.controls.reset_token.errors.pattern"
                  >This field is invalid.</span
                >
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" fxFlex>
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" required />
              <mat-error
                *ngIf="
                  resetPassForm.controls.password.touched &&
                  resetPassForm.controls.password.invalid
                "
              >
                <span *ngIf="resetPassForm.controls.password.errors.required"
                  >This field is mandatory</span
                >
                <span *ngIf="resetPassForm.controls.password.errors.pattern"
                  >This field is invalid.</span
                >
              </mat-error>
            </mat-form-field>
          </div>
        </form>
        <p>
          <button
            class="btn"
            mat-raised-button
            color="primary"
            type="submit"
            (click)="handleSubmit()"
            [disabled]="!(resetPassForm.valid && resetPassForm.dirty)"
          >
            Submit
          </button>
        </p>
      </div>
    </mat-dialog-content>
  </div>
</div>
